*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 10px auto;
    width: 900;
    height: fit-content;
    background-color:rgb(211, 212, 212);
    padding: 2px;
    background-image: url(images/nenchinh2.png);
    background-repeat: no-repeat;
}
#playbutton{
    width: 80px;
    height: 65px;
    background-image: url(images/playbutton.png);
    background-position: center;
}
.hidden{
    visibility: hidden;
}
