*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 10px auto;
    width: 900;
    height: fit-content;
    background-color:rgb(211, 212, 212);
    padding: 2px;
}